<div class=" well col-md-8 col-md-offset-2">
  <h1 class="text-center">Chat rooms</h1>

  <p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary btn-block' %></p>

  <ul>
    <%= render @chat_rooms %>
  </ul>
</div>
